.calendarCell {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.calendarCell.inactive {
  color: #ccc;
}
.calendarCell.today {
  font-weight: 400;
  border-radius: 30%;
  color: #fff;
  background-color: var(--primary);
}
.calendarCell.selected {
  border-radius: 30%;
  color: #ffffff;
  background-color: var(--primary);
}
.calendarTable td:hover .calendarCell:not(.today) {
  border-radius: 30%;
  background-color: var(--gray);
}
